.filter-bar-wrapper {
    width: 100vw;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}
.day-filter ul {
    width: 85vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem 0 0;
}
.day-filter li {
    color: var( --color-text);
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.active {
    background: black;
    color: white;
    border-radius: 30px;
}
.day-filter p {
    z-index: 99;
    text-align: center;
    height: 100%;
    padding: 3px 0;
}
.genre-filter {
    width: 5vw;
    display: flex;
    justify-content: flex-end;
    z-index: 9999;
    position: relative;
}
.genre-filter .filter-icon{
    cursor: pointer;
}
.genre-filter .hidden {
    display: none;
}
.dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    padding: 5px;
}
.dropdown-content p {
    margin-top: 1.5px;
    margin-bottom: 1.5px;    
    color: black;
}