* {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    line-height: 1.3;
    color: #000;
    font-size: 100%;
    word-break: keep-all;
    word-wrap: break-word;
}
.filter-bar-wrapper {
    width: 490px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    
    background-color: #ccc;
}
.day-filter ul {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.genre-filter {
    width: 60px;
    display: flex;
    justify-content: flex-end;
    z-index: 9999;
    position: relative;
}
.genre-filter .hidden {
    display: none;
}
.dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    padding: 5px;
}
.dropdown-content p {
    margin-top: 1.5px;
    margin-bottom: 1.5px;    
    color: black;
}