.header {
  width: 480px;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > * {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* input {
  position: absolute;
  width: 480px;
} */
