

.list_wrap {
  width: 100vw;
  height: 75vh;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  padding-left: 1rem;
}

.li {
  /* background-color: #ccc; */
  width: 150px;
  height: 230px;
  margin-right: 5px;
}

.toon {
  width: 100%;
  height: 200px;
}

.title {
  width: 100%;
  height: 20px;
  padding-left: 8px;
  color: var(--color-text);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Do Hyeon", sans-serif;
}

/* 4 */
@media screen and (max-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
  }
  .li {
    width: 230px;
    height: 310px;
  }
  .toon {
    width: 230px;
    height: 280px;
  }
}

/* 8 */
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .container {
    padding-left: 3rem;
  }
}

/* 9 */
@media screen and (min-width: 1281px) {
  .container {
    padding-left: 2.5rem;
  }
}
